<div class="container">
<page-header title="{{bdc.book.name}}"></page-header>

	
	<section class="tab" data-ng-controller="PanelController as panel">
		<ul class="nav nav-pills">
			<li data-ng-class="{active:panel.isSelected(1)}">
			<a href=""	data-ng-click="panel.selectTab(1)"> Details </a></li>
			<li data-ng-class="{active:panel.isSelected(2)}">
			<a href=""	data-ng-click="panel.selectTab(2)"> Comments </a></li>
		</ul>


		<div class="panel" ng-show="panel.isSelected(1)">
			
			<table class="table table-striped table-bordered">
				<tr>
					<td>Title:</td>
					<td>{{bdc.book.title}}</td>
				</tr>
				<tr>
					<td>Price:</td>
					<td>{{bdc.book.price}}</td>
				</tr>
				<tr>
					<td>PublishDate:</td>
					<td>{{bdc.book.publishDate}}</td>
				</tr>
				<tr>
					<td>Details:</td>
					<td>{{bdc.book.description}}</td>
				</tr>
				<tr>
					<td>Score:</td>
					<td>{{bdc.book.score}}</td>
				</tr>
				<tr>
					<td>Sales Amount:</td>
					<td>{{bdc.book.salesAmount}}</td>
				</tr>
				<tr>
					<td>Category:</td>
					<td>{{bdc.book.category.name}}</td>
				</tr>
				<tr>
					<td>Publisher:</td>
					<td>{{bdc.book.publisher.name}}</td>
				</tr>
				<tr>
					<td>Authors:</td>
					<td>
						<ul>
						<li data-ng-repeat="author in bdc.book.authors">
						{{author.name}}
						</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div class="panel" ng-show="panel.isSelected(2)">
			<h4>Reviews</h4>
			<ul>

				<li ng-repeat="comment in bdc.book.comments">
					<blockquote>
						<strong>{{comment.score}}</strong> {{comment.content}} <cite
							class="clearfix">-{{comment.owner}}</cite>
					</blockquote>
				</li>
			</ul>
			<div class="row">
				<div class="col-xs-6">
					<form name="commentForm"
						ng-controller="CommentController as commentCtrl"
						ng-submit="commentCtrl.addComment(bdc.book)">
						<blockquote>
							<strong> {{commentCtrl.comment.score}} Star</strong>
							{{commentCtrl.comment.content}} 
							<cite class="clearfix">-{{commentCtrl.comment.owner}}</cite>
						</blockquote>
						<!--  Review Form -->
						<h4>Submit a Comment</h4>
						<fieldset class="form-group">
							<select ng-model="commentCtrl.comment.score" class="form-control"
								ng-options="stars for stars in [5,4,3,2,1]" title="Score">
								<option value="">Rate the Book</option>
							</select>
						</fieldset>
						<fieldset class="form-group">
							<textarea ng-model="commentCtrl.comment.content" class="form-control"
								placeholder="Write a short review of the book..."
								title="Content"></textarea>
						</fieldset>
						<fieldset class="form-group">
							<input ng-model="commentCtrl.comment.owner" type="text"
								class="form-control" placeholder="Jimmy Dean"
								title="Owner" />
						</fieldset>
						<fieldset class="form-group">
							<input type="submit" class="btn btn-primary pull-right"
								value="Submit Comment" />
						</fieldset>
					</form>
				</div>
			</div>
		</div>

	</section>
</div>
